@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #ffffff;
  --foreground: #111111;
  --border: #e5e7eb;
  --primary: #0f172a;
  --secondary: oklch(39.8% 0.07 227.392);
  --accent: oklch(82.8% 0.189 84.429);
}

.dark {
  --background: #0b0f19;
  --foreground: #ffffff;
  --border: #1e293b;
  --primary: #ffffff;
  --secondary: #1e293b;
  --accent: #38bdf8;
}
